.label{
    display: block;
    padding: 5px 0px;
}

.select{
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 187px;
    width: 46%;
    padding: 0.2rem;
}

.body{
    padding: 0 0 30px 0;
}

.btn{
    padding: 6px;
    width: 60px;
    text-align: center;
    align-items: center;
    margin: 30px 46%;
    display: block;
    border-radius: 10px;
}

.btn:hover{
    font-weight: bolder;
    background-color: lightgray;
  }

.input{
    width: 45%;
    text-align: center;
}

.expenselabel{
    font-weight: bold;
}

/* .expenseul{
    display: flex;
    text-align: center;
    align-items: center;
} */

.expensediv{
    display: flex;
    /* border: 2px solid red; */
    padding: 0 45px;
    align-items: center;
    text-align: center;
}

.expensediv ul {
    padding: 0 80px;
    /* border: 2px solid; */
}

.box h4{
    display:inline-flex;
    padding: 0 60px;
    border-bottom: 1px solid black;
}