.heading{
    background-color: black;
    padding: 1rem;
}

.ul{
    display: flex;
    padding: 0 5px;
}

.link{
    display: flex;
    padding: 0 20px;
    color: white;
}

.logoutbtn{
    margin: 0 40px;
    padding: 0.5rem;
    align-items: center;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}